#search-box {
position: relative;
width: 100%;
margin:5px;
padding-right:10px;
}

#search-form 
{
height: 42px;
border: 2.5px solid #1156b6;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background-color: #fff;
overflow: hidden;
}
#search-text 
{
font-size: 16px;
color: #ddd;
border-width: 0;
background: transparent;
}
#search-box input[type="text"]
{
    width: 90%;
    padding: 11px 0 12px 1em;
    color: #333;
    outline: none;
}

#btnara {
position: absolute;
top: 0;
right: 0;
height: 42px;
width: 80px;
font-size: 14px;
color: #fff;
text-align: center;
line-height: 42px;
border-width: 0;
background-color: #1156b6;
/*-webkit-border-radius: 0px 5px 5px 0px;
-moz-border-radius: 0px 5px 5px 0px;
border-radius: 0px 5px 5px 0px;*/
cursor: pointer;
}
